<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Ведіть назву категорії</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Лише ( Кирилиця )" [(ngModel)]="nameUa">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Ведіть назву категорії</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Лише ( Латинь )" [(ngModel)]="nameEn">
  </div>
  <button class="btn btn-success">Додати категорію</button>
</form>

<table class="table">
  <thead>
  <th>#</th>
  <th>( Кирилиця )</th>
  <th>( Латинь )</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let c of  ;let i = index">
    <th></th>
    <th></th>
    <th></th>
    <th><button class="btn btn-warning">Редагувати</button></th>
    <th><button class="btn btn-danger">Видалити</button></th>
  </tr>
  </tbody>
</table>
