<div class="container-fluid">

  <div class="table-responsive">
    <table class="table table-bordered table-dark" *ngFor="let o of orders; let i = index">
    <thead *ngFor="let products of o.ordersDetails; let i = index">
    <tr>
      <th scope="col">Товар №{{i + 1}}</th>
      <th scope="col"><quill-view-html [content]="products.imageTitle"></quill-view-html></th>
      <th scope="col">{{products.title}}</th>
      <th scope="col">Загальна вартість: {{products.price * products.count}}</th>
      <th scope="col">Вартість за одиницю: {{products.price}}</th>
      <th scope="col">Кількість: {{products.count}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><strong>Ім'я Замовника:</strong> {{o.userName}}</td>
      <td><strong>Телефон Замовника:</strong> {{o.userPhone}}</td>
      <td><strong>Місто Замовника:</strong> {{o.userCity}}</td>
      <td><strong>Вулиця Замовника:</strong> {{o.userStreet}}</td>
      <td><strong>Номер будинку:</strong> {{o.userHouse}}</td>
      <td><strong>Коментарій:</strong> {{o.userComment}}</td>
    </tr>
    </tbody>
      <button class="btn btn-block btn-success" (click)="successOrder(o)"> Оформити замовлення </button>
  </table>


  </div>

</div>
