<div class="container-fluid">
  <div class="input-group input-group-lg mb-5 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Найти Товар...</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="productName" [(ngModel)]="productName">
  </div>


  <div class="row row-cols-1 row-cols-md-4">
    <div class="col col mb-4" *ngFor="let p of products | search: productName">
      <div class="card h-100">
        <quill-view-html [content]="p.imageTitle" ></quill-view-html>
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ціна: <strong>{{p.price}}</strong></li>
          <div class="card-footer">
            <small class="text-muted">Дата Створення: <strong>{{p.date | date: "MM/dd/yy"}}</strong></small>
          </div>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-info mr-2 mt-2" (click)="productId(p)">Детальніше</button>
          <button type="button" class="btn btn-success mt-2" (click)="addToBasket(p)">Добавити в Корзину</button>
        </div>
      </div>
    </div>
  </div>

</div>
