<div class="container">
  <div class="contentItem">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
        <label for="category">Виберіть категорію</label>
        <select class="form-control" id="category" formControlName="category"  >
          <option *ngFor="let c of adminCategory; let i=index" [value]="c.categoryTitle">{{c.categoryTitle}}</option>
        </select>
      </div>

      <div class="form-group" [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}">
        <label for="title">Назва Товара</label>
        <input type="text" class="form-control" id="title" formControlName="title">
        <div class="alert alert-danger" role="alert" *ngIf="form.get('title').touched && form.get('title').invalid">
          <small *ngIf="form.get('title').errors.required">Ведіть назву Товара</small>
        </div>
      </div>

      <div class="form-group" [ngClass]="{invalid: form.get('price').touched && form.get('price').invalid}">
        <label for="price">Ціна Товара</label>
        <input type="text" class="form-control" id="price" formControlName="price">
        <div class="alert alert-danger" role="alert" *ngIf="form.get('price').touched && form.get('title').invalid">
          <small *ngIf="form.get('title').errors.required">Ведіть Ціну Товара</small>
        </div>
      </div>

      <div class="form-group">
        <label>Опис Товару:</label>
        <quill-editor formControlName="description"></quill-editor>
      </div>

      <div class="form-group">
        <label>Основне Фото Товару:</label>
        <quill-editor formControlName="imageTitle"></quill-editor>
      </div>

      <div class="form-group">
        <label>Фото Товару:</label>
        <quill-editor formControlName="imageProd"></quill-editor>
      </div>


      <button *ngIf="!edit; else editButton" type="submit" class="btn btn-block btn-success" [disabled]="form.invalid">Додати Товар</button>
      <ng-template #editButton>
        <button type="button" class="btn btn-block btn-success" [disabled]="form.invalid" (click)="updateProduct()">Редагувати товар</button>
      </ng-template>
    </form>
  </div>

  <div class="row">
    <div class="col-sm">
      <form [formGroup]="formCategory" (ngSubmit)="deleteProductAndCategory()">
        <div class="form-group">
          <label for="deleteCategory">Виберіть категорію</label>
          <select class="form-control" id="deleteCategory" formControlName="categoryDelete">
            <option *ngFor="let c of adminCategory; let i=index" [value]="c.categoryTitle">{{c.categoryTitle}}</option>
          </select>
          <button type="submit" class="btn btn-danger btn-block mt-3"> Видалити Категорію З Усіма Товарами</button>
        </div>
      </form>
    </div>
    <div class="col-sm">
      <div class="input-group input-group-lg mt-5">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Найти Товар...</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="productName" [(ngModel)]="productName">
      </div>


    </div>
  </div>

  <div class="contentItem">
    <table class="table item">
      <thead>
        <th>#</th>
        <th>Категорія</th>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Дата створення</th>
      </thead>
      <tbody>
      <tr *ngFor="let p of adminProducts.flat() | search : productName;let i = index">
        <th>{{i+1}}</th>
        <th>{{p.category}}</th>
        <th>{{p.title}}</th>
        <th>{{p.price}}</th>
        <th>{{p.date | date}}</th>
        <th><button class="btn btn-warning" (click)="editProduct(p)">Редагувати</button></th>
        <th><button class="btn btn-danger" (click)="deleteProduct(p)">Видалити</button></th>
      </tr>
      </tbody>
    </table>
  </div>

</div>
