<div class="fluid">
  <h1 class="text-center">Категорії :</h1>
  <div class="category d-flex justify-content-around flex-wrap">

    <div class="card-deck" *ngFor="let c of category">
      <div class="card">
        <img src="{{c.image}}" class="card-img-top" alt="Category-Image">
        <div class="card-body">
          <h5 class="card-title">{{c.categoryTitle}}</h5>
          <button class="btn btn-secondary btn-lg btn-block" (click)="getProducts()">Перейти до категорії</button>
          </div>
        </div>
    </div>
  </div>
</div>
