<div class="fluid">
  <h1 class="text-center">Категорії :</h1>
  <div class="category d-flex justify-content-around flex-wrap">

    <div class="card-deck " *ngFor="let c of category">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Категорія </h5>
          <p class="card-text"> {{c.nameUA}}</p>
<!--          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
          <button class="btn btn-secondary btn-lg btn-block" (click)="getProducts()">Перейти до категорії</button>
        </div>
      </div>
  </div>
</div>
